/* https://discourse.wicg.io/t/text-content-css-value-akin-to-attr/629 */

body {    
  display: block;
  min-width: unset;
  max-width: unset  ;
}

table {
  width: 100%;
  margin: unset;
}


/****************************************/

.dir::before, .file > img {
  margin-inline-end: unset;
  margin-inline-start: unset;
  max-width: 16px;
  max-height: 16px;
  vertical-align: middle;
}

.dir, .symlink, .file {
  margin-inline-start: unset;
}
.dir::before, .file > img {
}
td:not(:first-child) {
  width: unset;
}
td:first-child + td {
  text-align: unset;
  padding-inline-end: unset;
}
td:first-child + td + td {
  padding-inline-start: unset;   
  padding-inline-end: unset;
}
td:first-child + td + td + td {
  padding-inline-start: unset;
}
th:first-child + th {
  padding-inline-end: unset;   
}
th:first-child {
   padding-inline-end: unset;   
}

td {
  white-space: unset;   
}
td:first-child > a {
   white-space: unset;   
}
body > table > tbody > tr {
  display: block;
  /* display: grid; */
}
body > table > tbody > tr > td {
  white-space: unset;
  display: block;
}
table.ellipsis {
  width: unset;
  /* border-spacing: 0; */
}
table.ellipsis > tbody > tr > td {
  overflow: unset;
  text-overflow: unset;
}

/****************************************/
/********       Variables      **********/
/****************************************/

:root {
  --my-grid-width: 200px;
  --my-caption-line-height: 16px;
}

/****************************************/
/********      Top Heading     **********/
/****************************************/

body > table > thead > tr {
  display: inline-flex;
  width: 100%;
  padding-bottom: 15px;
}

body > table > thead > tr > th:not(:last-child):after {
  content: "|";
  padding-left: 15px;
  padding-right: 15px;
  display: inline;
  width: initial;
  margin-inline-end: unset;
  text-align: unset;
}
body > table > tbody > tr {
  position: relative;
  line-height: 13px;
}

body > table > tbody > tr > td{
  padding: 0; 
  /* line-height: 12px; */
}
/* size */
body > table > tbody > tr > td:nth-child(2) { 
  display: inline-flex;
  /* order: 1; */
  margin-top: -4px;
}
/* Date */
body > table > tbody > tr > td:nth-child(3) {
  display: inline-flex;
  position: absolute;
  right: 0;
  /* order: 3 */
}
body > table > tbody > tr > td.undo-abs {
  display: block ;
  position: static;
}
/* body > table > tbody > tr > td:nth-child(4):before {
  content: "|";
  padding-left: 2px;
  padding-right: 2px;
} */
/* time */
/* body > table > tbody > tr > td:nth-child(4) {
  display: inline-flex;
  order: 2
} */

/****************************************/
/********         ITEMS        **********/
/****************************************/
.dir::before, .file > .item_img {   
  display: table-row;
  max-height: 150px;
  max-width:  var(--my-grid-width);
  width: auto;
}

.caption_title  {
  display: table-caption;
  width: 100%;
  line-height:  var(--my-caption-line-height);
  max-height: calc(var(--my-caption-line-height) * 2);
  margin-top: -16px;
  overflow: hidden;
  text-overflow: ellipsis;  
  text-indent: 16px;
}

.anchor_wrap   > img:not(.item_img), .anchor_wrap   > video:not(.item_img) {
  display: block;
  width: var(--my-caption-line-height);
}

.grid .dir::before, .file > .item_img {   
  width: auto;
  max-height: 150px;
  max-width: unset;
  max-width:  var(--my-grid-width);
  justify-self: center;
  margin-inline-end: unset;
  margin-inline-start: unset;
}

.anchor_wrap {
  word-break: break-all;
  display: inline-block;
  /* content-visibility: auto; */
}
.grid .anchor_wrap {
  word-break: break-all;
  display: grid;
  /* place-items: center; */

}

/****************************************/
/********         GRID         **********/
/****************************************/

body.grid > table > tbody {
  /* display: inline-flex; */
  flex-wrap: wrap;
  display: grid;
  /* grid-template-columns: minmax(200px,auto);
  grid-template-columns: minmax(130px, auto);
  grid-template-columns: repeat(auto-fill, 100px); */
  grid-template-columns: repeat( auto-fit, minmax( var(--my-grid-width), 1fr));
  /* grid-auto-rows: minmax(30px, auto); */
  grid-auto-rows: auto; 
  grid-gap: 10px;
}

body> table > tbody {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
}

