/* https://discourse.wicg.io/t/text-content-css-value-akin-to-attr/629 */

body {    
  display: block;
  min-width: unset;
  max-width: unset;
  padding-top: 10px;
  padding-left: 2em;
  padding-right: 2em;
}

table {
  width: 100%;
  margin: unset;
}


/****************************************************************************************/
/********************************      FORMAT PRE     **********************************/
/****************************************************************************************/

/***** ITEMS *****/
body > table > tbody > tr {
  position: relative;
  line-height: 13px;
}

body > table > tbody > tr {
  position: relative;
  line-height: 13px;
}

body > table > tbody > tr > td{
  padding: 0; 
}

/* size */
body > table > tbody > tr > td:nth-child(2) { 
  display: inline-flex;
  margin-top: -4px;
}
/* Date */
body > table > tbody > tr > td:nth-child(3) {
  display: inline-flex;
  position: absolute;
  right: 0;
}
body > table > tbody > tr > td.undo-abs {
  display: block ;
  position: static;
}

/****************************************/
/****************************************/

:root { 
  padding-inline: 1em;
}

/****** Body ******/
.dir::before, .file > img {
  margin-inline-end: unset;
  margin-inline-start: unset;
  /* ??? */
  max-width: 16px;
  max-height: 16px;
  vertical-align: middle;
}

.dir, .symlink, .file {
  margin-inline-start: unset;
}

td:not(:first-child) {
  width: unset;
}
td:first-child + td {
  text-align: unset;
  padding-inline-end: unset;
}
td:first-child + td + td {
  padding-inline-start: unset;   
  padding-inline-end: unset;
}
td:first-child + td + td + td {
  padding-inline-start: unset;
}
th:first-child + th {
  padding-inline-end: unset;   
}
th:first-child {
   padding-inline-end: unset;   
}

td {
  white-space: unset;   
}
td:first-child > a {
   white-space: unset;   
}
body > table > tbody > tr {
  display: block;
}
body > table > tbody > tr > td {
  white-space: unset;
  display: block;
}
table.ellipsis {
  width: unset;
}
table.ellipsis > tbody > tr > td {
  overflow: unset;
  text-overflow: unset;
}

/****************************************************************************************/
/********************************       Variables      **********************************/
/****************************************************************************************/

:root {
  --my-grid-width: 150px;
  --my-item-height: 200px;

  --my-caption-line-height: 16px;
  --file-icon-width: 150px;

}

/****************************************/
/********      Top Heading     **********/
/****************************************/

body > table > thead > tr {
  display: inline-flex;
  width: 100%;
  padding-bottom: 15px;
}

body > table > thead > tr > th:not(:last-child):after {
  content: "|";
  padding-left: 15px;
  padding-right: 15px;
  display: inline;
  width: initial;
  margin-inline-end: unset;
  text-align: unset;
}


/****************************************/
/********         ITEMS        **********/
/****************************************/

/*******  Pre load *******/

body > table > tbody > tr:not(.item_wrap):not(.nothing_wrap) {

  width: var(--my-grid-width);
  height: calc( var(--my-item-height) + 64px) 
  /* (40 ~= my-caption-line-height*4) */
}

body > table > tbody > tr:not(.item_wrap):not(.nothing_wrap) a {
  display: block;
  overflow: clip;
  width: var(--my-grid-width);
  height: var(--my-item-height);
  
  display: flex;
  flex-direction: column;
}

body > table > tbody > tr:not(.item_wrap):not(.nothing_wrap) a *:first-child {
  margin-top: auto;
}
/*************************/

.nothing_wrap {
  /* padding-bottom: 20px;
  padding-right: 10px; */
  background-color: #08080812;
  border: 1px solid #ffffff1c;
  min-height: calc(var(--my-item-height) * 0.5);
}
/*** Post load ***/
.caption_title  {
  display: table-caption;
  width: 100%;
  line-height:  var(--my-caption-line-height);
  max-height: calc(var(--my-caption-line-height) * 2);
  margin-top: -16px;
  overflow: hidden;
  text-overflow: ellipsis;  
  text-indent: 16px;
}
/* Captions stuff */
.anchor_wrap > img:not(.item_img),  
.anchor_wrap > video:not(.item_img) {
  display: block;
  width: var(--my-caption-line-height);
}



.dir::before, 
.file > .item_img {   
  display: table-row;
  max-height: var(--my-item-height);
  max-width:  var(--my-grid-width);
  width: auto;
}

.grid .dir::before, 
.file > .item_img {   
  /* height: var(--my-item-height); */
  height: auto;
  max-height: var(--my-item-height);
}

.anchor_wrap {
  word-break: break-all;
  display: inline-block;
}
.grid .anchor_wrap {
  word-break: break-all;
  display: grid;

}

/***********************/
/********  Icons  ********/
.caption_title_icon {
  /* border-top: 1px solid #1000003b; */
  padding-bottom: 2px;
  padding-top: 2px;
}
.folder_icon {
  width: 32px;
  height: 32px;
  padding-bottom: 4px;
}
a.dir::before {
  content: unset;
}

.anchor_wrap_icon {
  width: var(--my-grid-width);
  display: block;
  overflow: hidden;
}
/***************************/
/********  Hide Toggle  ********/

body.hide_title .nothing_wrap .caption_title, 
body.hide_title .item_wrap .caption_title, 
body.hide_title .nothing_wrap .anchor_wrap img:not(.item_img),
body.hide_title .item_wrap .anchor_wrap img:not(.item_img)  {
  display: none;
}
body.hide_metadata .nothing_wrap td:nth-child(2), 
body.hide_metadata .nothing_wrap td:nth-child(3), 
body.hide_metadata .nothing_wrap td:nth-child(4), 
body.hide_metadata .item_wrap td:nth-child(2), 
body.hide_metadata .item_wrap td:nth-child(3),
body.hide_metadata .item_wrap td:nth-child(4)  {
  display: none;
}

/******************************/
/********  FreezeFrame ********/ 
/******************************/
.item_img .ff-image,
.ff-container.ff-inactive .ff-image, 
.ff-container.ff-active .ff-image,
.ff-ready, 
.ff-container, 
.ff-container .ff-canvas,
[class^="ff-"], 
[class^="ff-"] > *:not([class='.ff-overlay']) {
  display: table-row;
  max-height: var(--my-item-height);
  max-width: var(--my-grid-width);
  /* max-height: 100%; */
  max-width: 100%;

}
.ff-container .ff-overlay {
  width: 32px;
  height: 32px;
}
/*******************/
/****************************************/
/********         GRID         **********/
/****************************************/

body > table > tbody {
  /* grid-template-columns: minmax(200px,auto);
  grid-template-columns: minmax(130px, auto);
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: auto;  */
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax( var(--my-grid-width), 1fr));
  /* grid-auto-rows: minmax(var(--my-grid-width), auto); */
  grid-auto-rows: auto;
  place-items: start center;
  grid-gap: 0px;
  grid-row-gap: 5px;
  /* grid-template-columns: repeat( auto-fit, 250px); */
}


.visibilityOn {
  visibility: visible;
}
.visibilityOff {
  visibility: hidden;
}


/****************************************/
/********      dark mode       **********/
/****************************************/

:root.darkmode { 
  background-color: #121212;
  background-color: #292929;
}

:root body.darkmode {
  background-color: #121212;
  background-color: #292929;
  
}
/* 
:root body a:visited {
  color: teal;
} */
body.darkmode .caption_title_icon {
  /* border-top: 1px solid white; */
}


a {
  color: inherit;
}
.t1 {
  color: white;
}
.t1 > h1,
body.t1 > table > thead > tr {
  color:#97b8cc;
}

.t2 {
  color: #ff903e;
}
.t2 > h1,
body.t2 > table > thead > tr {
  color: #d3c821;
}

.t3  {
  color: #dabc19;
}
.t3 > h1,
body.t3 > table > thead > tr {
  color: #e78d4b
}

.t4  {
  color: #b39bf5;
}

.t4 > h1,
body.t4 > table > thead > tr {
  color: #65ade1
}

.t5  {
  color: #49b2ff;
}
.t5 > h1,
body.t5 > table > thead > tr {
  color: #b39bf5;
}

.t6  {
  color: #5ae3a2;
}
.t6 > h1,
body.t6 > table > thead > tr {
  color: #4eb3aa;
}
