/* https://discourse.wicg.io/t/text-content-css-value-akin-to-attr/629 */

body {    
  display: block;
  min-width: unset;
  max-width: unset  ;
}

table {
  width: 100%;
  margin: unset;
}


/****************************************************************************************/
/********************************      FORMAT PRE     **********************************/
/****************************************************************************************/

/***** ITEMS *****/
body > table > tbody > tr {
  position: relative;
  line-height: 13px;
}

body > table > tbody > tr {
  position: relative;
  line-height: 13px;
}

body > table > tbody > tr > td{
  padding: 0; 
}

/* size */
body > table > tbody > tr > td:nth-child(2) { 
  display: inline-flex;
  margin-top: -4px;
}
/* Date */
body > table > tbody > tr > td:nth-child(3) {
  display: inline-flex;
  position: absolute;
  right: 0;
}
body > table > tbody > tr > td.undo-abs {
  display: block ;
  position: static;
}

/****************************************/
/****************************************/


/****** Body ******/
.dir::before, .file > img {
  margin-inline-end: unset;
  margin-inline-start: unset;
  /* ??? */
  max-width: 16px;
  max-height: 16px;
  vertical-align: middle;
}

.dir, .symlink, .file {
  margin-inline-start: unset;
}

td:not(:first-child) {
  width: unset;
}
td:first-child + td {
  text-align: unset;
  padding-inline-end: unset;
}
td:first-child + td + td {
  padding-inline-start: unset;   
  padding-inline-end: unset;
}
td:first-child + td + td + td {
  padding-inline-start: unset;
}
th:first-child + th {
  padding-inline-end: unset;   
}
th:first-child {
   padding-inline-end: unset;   
}

td {
  white-space: unset;   
}
td:first-child > a {
   white-space: unset;   
}
body > table > tbody > tr {
  display: block;
}
body > table > tbody > tr > td {
  white-space: unset;
  display: block;
}
table.ellipsis {
  width: unset;
}
table.ellipsis > tbody > tr > td {
  overflow: unset;
  text-overflow: unset;
}

/****************************************************************************************/
/********************************       Variables      **********************************/
/****************************************************************************************/

:root {
  --my-grid-width: 200px;
  --my-caption-line-height: 16px;
  --my-item-height: 200px;
  --my-item-width: 200px;
  --file-icon-width: 150px;
}

/****************************************/
/********      Top Heading     **********/
/****************************************/

body > table > thead > tr {
  display: inline-flex;
  width: 100%;
  padding-bottom: 15px;
}

body > table > thead > tr > th:not(:last-child):after {
  content: "|";
  padding-left: 15px;
  padding-right: 15px;
  display: inline;
  width: initial;
  margin-inline-end: unset;
  text-align: unset;
}


/****************************************/
/********         ITEMS        **********/
/****************************************/

/*******  Pre load *******/

/* body > table > tbody > tr:not(.item_wrap) a {
  display: block;
  overflow: clip;
  width: 150px;
} */
body > table > tbody > tr:not(.item_wrap):not(.nothing_wrap) {

  width: var(--my-item-height);
  height: var(--my-item-height);

}


/* body > table > tbody > tr:not(.item_wrap) a,
body > table > tbody > tr:not(.nothing_wrap) a { */
body > table > tbody > tr:not(.item_wrap):not(.nothing_wrap) a {
  display: block;
  overflow: clip;
  width: var(--my-item-height);
  height: var(--my-item-height);
}
/*************************/



/*** Post load ***/
.caption_title  {
  display: table-caption;
  width: 100%;
  line-height:  var(--my-caption-line-height);
  max-height: calc(var(--my-caption-line-height) * 2);
  margin-top: -16px;
  overflow: hidden;
  text-overflow: ellipsis;  
  text-indent: 16px;
}

.anchor_wrap > img:not(.item_img), 
.anchor_wrap > video:not(.item_img) {
  display: block;
  width: var(--my-caption-line-height);
}

.dir::before  {
/* .file > .item_img {    */
  display: table-row;
  max-height: var(--my-item-height);
  max-width:  var(--my-grid-width);
  width: auto;
}
    .file.anchor_wrap {
      width: var(--my-item-width);

    }
    /* .file > .item_img_ALTERNATIVE { */
    .file > .item_img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      max-height: var(--my-item-height);
      max-width:  var(--my-grid-width);
      width: auto;
    }
    /* body > table > tbody > tr.ALTERANTIVE { */
    body > table > tbody > tr {
      width: 200px;
    }

.grid .dir::before, 
.file > .item_img {   
  /* height: var(--my-item-height); */
  height: auto;
  max-height: var(--my-item-height);
}

.anchor_wrap {
  word-break: break-all;
  display: inline-block;
}
.grid .anchor_wrap {
  word-break: break-all;
  display: grid;

}

/***********************/
/********  Icons  ********/
.caption_title_icon {
  border-top: 1px solid #1000003b;
  padding-bottom: 2px;
  padding-top: 2px;
}
.folder_icon {
  width: 32px;
  height: 32px;
  padding-bottom: 4px;
}
a.dir::before {
  content: unset;
}
.anchor_wrap_icon {
  width: var(--my-item-height);;
  display: block;
  overflow: hidden;
}
/***************************/
/********  Hide Toggle  ********/
body.hide_title .item_wrap .caption_title, 
body.hide_title .item_wrap .anchor_wrap img:not(.item_img)  {
  display: none;
}
body.hide_metadata .item_wrap td:nth-child(2), 
body.hide_metadata .item_wrap td:nth-child(3),
body.hide_metadata .item_wrap td:nth-child(4)  {
  display: none;
}

/******************************/
/********  FreezeFrame ********/ 
/******************************/
.item_img .ff-image,
.ff-container.ff-inactive .ff-image, 
.ff-container.ff-active .ff-image,
.ff-ready, 
.ff-container, 
.ff-container .ff-canvas {
  display: table-row;
  max-height: var(--my-item-height);
  width: var(--my-item-width);
}

[class^="ff-"], 
[class^="ff-"] > *:not([class='.ff-overlay']) {
  display: table-row;
  max-height: var(--my-item-height);
  width: var(--my-item-width);

}
.ff-container .ff-overlay {
  width: 32px;
  height: 32px;
}
/*******************/
/****************************************/
/********         GRID         **********/
/****************************************/

body.grid > table > tbody {
  /* display: inline-flex; */
  flex-wrap: wrap;
  display: grid;
  /* grid-template-columns: minmax(200px,auto);
  grid-template-columns: minmax(130px, auto);
  grid-template-columns: repeat(auto-fill, 100px); */
  grid-template-columns: repeat( auto-fit, minmax( var(--my-grid-width), 1fr));
  /* grid-auto-rows: minmax(30px, auto); */
  grid-auto-rows: auto; 
  grid-gap: 10px;
}
.visibilityOn {
  visibility: visible;
}
.visibilityOff {
  visibility: hidden;
}
body> table > tbody {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
}
